<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <httpErrors>
      <remove statusCode="502" subStatusCode="-1" />
      <remove statusCode="501" subStatusCode="-1" />
      <remove statusCode="500" subStatusCode="-1" />
      <remove statusCode="412" subStatusCode="-1" />
      <remove statusCode="406" subStatusCode="-1" />
      <remove statusCode="405" subStatusCode="-1" />
      <remove statusCode="404" subStatusCode="-1" />
      <remove statusCode="403" subStatusCode="-1" />
      <remove statusCode="401" subStatusCode="-1" />
      <error statusCode="400" path="\error_docs\bad_request.html" />
      <error statusCode="407" path="\error_docs\proxy_authentication_required.html" />
      <error statusCode="414" path="\error_docs\request-uri_too_long.html" />
      <error statusCode="415" path="\error_docs\unsupported_media_type.html" />
      <error statusCode="503" path="\error_docs\maintenance.html" />
      <error statusCode="401" prefixLanguageFilePath="" path="\error_docs\unauthorized.html" />
      <error statusCode="403" prefixLanguageFilePath="" path="\error_docs\forbidden.html" />
      <error statusCode="404" prefixLanguageFilePath="" path="\httpdocs\404.html" />
      <error statusCode="405" prefixLanguageFilePath="" path="\error_docs\method_not_allowed.html" />
      <error statusCode="406" prefixLanguageFilePath="" path="\error_docs\not_acceptable.html" />
      <error statusCode="412" prefixLanguageFilePath="" path="\precondition_failed.html" />
      <error statusCode="500" prefixLanguageFilePath="" path="\internal_server_error.html" />
      <error statusCode="501" prefixLanguageFilePath="" path="\error_docs\not_implemented.html" />
      <error statusCode="502" prefixLanguageFilePath="" path="\error_docs\bad_gateway.html" />
    </httpErrors>
  </system.webServer>
  <system.web>
    <customErrors>
      <error statusCode="404" redirect="/404.html" />
    </customErrors>
  </system.web>
</configuration>