body { color: #fff; background-color: #070707; padding-left: 185px; font-family: Arial, Helvetica, sans-serif; font-size: 100%; line-height: 1;}

.fixed, #photos, #text { position: absolute; top: 100px; }
.fixed { position: fixed;left: 0; z-index: 10; width: 100%;}
#header { background-color:#070707; position: absolute; top: 0; left: 0; width: 160px; height: 540px; padding: 0 10px 0 15px;}
#photos { width: 33764px;}
#text { width: 330px; padding-top: 7px;}
#photos div { display: inline;}
#photos img { display: inline; margin-right: -1px;}

h1, #text {}
h1 { /*width: 160px; padding-top: 10px;*/ }
.fixed .logo h1 a {
	display:block;
}
.fixed .logo h1 img {
	width:100%;
	height:auto;
	max-width:264px;
}

ul { border-top: 1px solid #FFFFFF; padding-top:5px; }
ul li a { color: #FFFFFF; font-size: .9em; line-height: 1.5em; }
ul li a:hover { color: #99998e;}

p { color: #aaa; font-size: 0.875em; line-height: 1.285em; margin-bottom: 1.285em;}
strong { color: #fff; font-weight: normal;}
p a { color: #fff;}
p a:hover { border-bottom: 2px solid #aaa; padding-bottom: 1px;}

a:link, a:visited { text-decoration: none;}

.logo {
	margin-top: -79px;
	width:100%;
	max-width:264px;
	margin-left: auto;
	margin-right: auto;
}
